/*DOCUMENTO CSS*/

* { margin: 0%;
    padding: 0%; }

    body { background: rgb(55, 250, 55);}

    h1 { text-align: center; 
       padding: 20px 0px 20px 0px ;
       background-color: rgb(29, 105, 80);
       color: antiquewhite;
       text-transform: upperc capitalize;}



.caja { display:block;
      width: 90%; 
      min-height: 1px ;
      margin:  15px auto; 
      padding-left: 50px;
      box-sizing: border-box;
      padding: 15px 0px 15px 50px;

      background-color: brown; }

#rojo { background-color: #f09c9c; }

.contenido p { padding: 20px 15px; 
             line-height: 1.5;
            font-size: 1.3em;
             }




.imagen { margin: auto; 
        display: block }

