/*DOCUMENTO CSS*/

* { margin: 0px; 
    padding: 0px}

#productos { width: 100%; 
             min-height: 1px; 
             background-color: rgb(213, 194, 168); 
             padding: 30px 0px ;}

.container { width: 70%; 
            min-height: 1px; 
            display: flex; 
            margin: 0px auto 0px auto; }

.items { width: 33.33% ; 
         text-align: center; 
         min-height: 150px ; 
         background-image: url(../img/canon\ 2.jpg);
         background-size: 100% 100%; }

.items::after { content: "Vendido";
              display: block;
              width: 100% ;
              padding: 8px ;
              text-transform: uppercase; 
              margin-top: 95px; 
              transform: rotate(−45seg);
              position: relative; 
              top: −15px ;
              left: 35px ;}

.contenido { padding: 35px ;}

.contenido p { line-height: 1.5; }

.contenido p::first-letter { font-size: 2em;
                            float: left;
                            margin-right: 3px; }

.contenido { background-color: brown; }

p { back}